{{>head}}
{{>aboutNav}}
<div class="full same-height-kids"
  simple-slider>
  {{#each topImages}}
  <div simple-slider-slide class="full {{#if @first}}active{{/if}}">
    <img src="/assets/images/about/{{file}}"
      alt="{{alt}}"
      class="full" />
  </div>
  {{/each}}
</div>

<div class="contained">
  <div class="chapter-header" id="the-complete-thought">
    <div class="chapter-number">II.</div>
    <h2 class="chapter-name">The Complete Thought</h2>
  </div>
  <div class="chapter-copy display-serif contained center-block">
    <p>
      Just as in life, when something looks amazing, moves right, feels right, and we can clearly see that it is true, that’s when we connect. It resonates. It takes a complete thought. Anything missing and we’re gone.
    </p>
    <p>
      Our work is crafted with extraordinary sensitivity for medium and audience, and we do it ourselves - the same minds who formulate the strategy and intimately understand the audience, get behind the camera, the design tools, the code, the pen and pencil. Nothing is lost in translation.
    </p>
  </div>
</div>

<div class="mirrored-image-wrapper" id="mirror4">
  <img src="/assets/images/about/mirrored-image-2.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(15%)"
    data-top-bottom="transform: translateY(-15%)">
  <img src="/assets/images/about/mirrored-image-1.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-18%)"
    data-top-bottom="transform: translateY(18%)">
  <img src="/assets/images/about/mirrored-image-3-3.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-13%)"
    data-top-bottom="transform: translateY(13%)">
  <img src="/assets/images/about/medium-fearless.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(5%)"
    data-top-bottom="transform: translateY(-5%)">
  <img src="/assets/images/about/mirrored-image-3-1.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-2%)"
    data-top-bottom="transform: translateY(2%)">
</div>

<div class="contained">
  <div class="chapter-copy display-serif contained center-block">
    We shoot, edit and produce videos and photographic campaigns, with our creative director behind the camera. We code and design interactive digital experiences, build brands from platform to launch to re-launch. &ldquo;Digital,&rdquo; in our office, is &ldquo;traditional&rdquo;. We strategize and we make, whatever the medium. It’s who we are.
  </div>
</div>
<div class="expertise">
  <svg class="border"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px" y="0px"
    width="998px"
    height="{{math (math expertise.length "+" "3.25") "*" "8"}}2px"
    viewBox="0 0 998 {{math (math expertise.length "+" "3.25") "*" "8"}}2"
    enable-background="new 0 0 998 {{math (math expertise.length "+" "3.25") "*" "8"}}2"
    xml:space="preserve"
    data-20p-center-top="stroke-dashoffset:1800;"
    data--10p-bottom-bottom="stroke-dashoffset:0;"
    data-target-anchor=".expertise">
    <polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="499,2 2,2 2,{{math (math expertise.length "+" "3.25") "*" "8"}}0 499,{{math (math expertise.length "+" "3.25") "*" "8"}}0 "/>
    <polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="499,2 996,2 996,{{math (math expertise.length "+" "3.25") "*" "8"}}0 499,{{math (math expertise.length "+" "3.25") "*" "8"}}0 "/>
  </svg>
  <header class="expertise-header">
    Expertise
  </header>
  <ul class="expertise-list contained-smaller">
    {{#each expertise}}
    <li slide-up class="expertise-item">
      {{this}}
    </li>
    {{/each}}
  </ul>
</div>

<img src="/assets/images/about/for-the-people.jpg" alt="For the People" class="full" />

<div class="contained">
  <div class="chapter-copy display-serif contained center-block">
    People. There, we said it. Why is that so difficult to remember? Business is people talking to people. People need to be treated with respect, and that means understanding who they are, what they want and leaving them better off than when you found them. Inspire them. Otherwise you’re not a friend, you’re spam.
  </div>
</div>

<img src="/assets/images/about/we-are.jpg" alt="We are the guys behind the guy, as well as the guy himself." class="full" />

<div class="contained">
  <div class="serif contained-smaller center-block">
    {{#each testimonials}}
    <blockquote class="blockquote">
      {{quote}}
    </blockquote>
    <div class="contained-smaller blockquote-cite">
      <strong>{{name}}</strong>{{#if title}}, <em>{{{title}}}.</em>{{/if}}
    </div>
    {{/each}}
  </div>

</div>

<div class="darker-bg">
  <div class="contained center-align darker-bg">
    <header class="big-serif-header">The Complete Thought</header>
    <div class="diagram"
      data-bottom-top=""
      data-20p-top-top="">
      <svg
        class="full contained-smaller center-block t-v-w-diagram"
        version="1.1" id="images"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="650px"
        height="916px"
        viewBox="0 67.613 600 845.958"
        enable-background="new 0 67.613 600 845.958"
        xml:space="preserve">
        <circle fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" cx="300" cy="370.632" r="292.455"
          data-center-top="stroke-dashoffset: 1850;stroke-dasharray: 1850;"
          data-top-top="stroke-dashoffset: 0;stroke-dasharray: 1850;"
          data-anchor-target=".t-v-w-diagram" />
        <polyline fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" points="467.005,611.651 300,821.517 132.994,611.652"
          data-90-top-top="stroke-dashoffset: 555;stroke-dasharray: 555;"
          data-top-top="stroke-dashoffset: 0;stroke-dasharray: 555;"
          data-anchor-target=".t-v-w-diagram" />
        <circle fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" cx="300" cy="834.102" r="32.422"
          data-90-top-top="stroke-dashoffset: 220;stroke-dasharray: 220;"
          data-top-top="stroke-dashoffset: 0;stroke-dasharray: 220;"
          data-anchor-target=".t-v-w-diagram" />

        <text class="slide-up" x="300" y="385" text-anchor="middle">Wonder</text>
        <text class="slide-up small-text" x="300" y="732" text-anchor="middle">Vision</text>
        <text class="slide-up small-text" x="300" y="840" text-anchor="middle">Truth</text>

        <text class="slide-up small-text" x="530" y="763" text-anchor="middle" fill="#00ABDF">
          &nbsp;Internal:
          <tspan x="530" y="784">Marketing</tspan>
        </text>

        <text class="slide-up small-text" x="505" y="345" text-anchor="middle" fill="#00ABDF">
          &nbsp;External:
          <tspan x="505" y="366">Brand</tspan>
          <tspan x="505" y="387">Experience</tspan>
        </text>


        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="298" cy="758" r="127.5"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="299" cy="370" r="131.5"/>

        <g data-90-top-top="stroke-dashoffset: 30;stroke-dasharray: 30;"
          data-top-top="stroke-dashoffset: 0;stroke-dasharray: 30;"
          data-anchor-target=".t-v-w-diagram">
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="165.325,360.458 157.616,368.168 149.91,360.458"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="243.121,505.72 243.121,516.619 232.22,516.619"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="253.145,594.726 264.047,594.726 264.046,605.625"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="358.635,501.255 369.536,501.255 369.536,512.155"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="149.91,763.925 157.617,756.216 165.325,763.925"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="447.021,754.738 439.312,762.444 431.604,754.738"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="297.882,905.882 290.173,898.173 297.882,890.465"/>
          <polyline fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" points="297.882,237.484 290.173,229.777 297.882,222.068"/>
        </g>

        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="403" cy="249" r="63"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="117" cy="360" r="76"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="274" cy="239" r="93"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="165" cy="280" r="41.5"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="463" cy="533" r="38.5"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" cx="403" cy="171" r="24.5"/>
        <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4" cx="170" cy="485" r="18"/>

        <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" d="M439.204,762.444 c0.07-1.832,0.105-3.672,0.105-5.521c0-30.746-9.852-59.192-26.572-82.353c-17.907-24.808-68.94-73.696-100.068-99.49"/>
        <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" d="M439.311,370.623 c0,30.747-9.852,59.194-26.572,82.354c-17.907,24.808-61.257,67.461-92.385,93.259l-47.584,40.788 c-41.978,38.138-58.338,48.24-88.932,88.037c-17.291,22.488-26.221,51.331-26.221,81.863c0,77.789,63.06,140.848,140.847,140.848 c70.482,0,128.873-51.772,139.219-119.362"/>
        <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.5" stroke-miterlimit="10" stroke-dasharray="4.5" d="M284.835,555.329 c-39.752-38.316-70.405-63.046-100.998-102.841c-17.291-22.491-26.221-51.333-26.221-81.865c0-77.789,63.06-140.846,140.847-140.846 c71.616,0,130.748,53.448,139.679,122.631"/>

        <text class="slide-up small-text"
          x="100" y="771"
          text-anchor="end"
          fill="#EF435D">
            The Complete Thought
        </text>

        <g data-anchor-target=".t-v-w-diagram"
          data-60-top-top="opacity: 0"
          data-top-top="opacity: 1">
          <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="500.176" y1="401.02" x2="478.746" y2="481.5"/>
          <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="472.267" y1="294.109" x2="486.987" y2="323.419"/>
          <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="464.945" y1="360.548" x2="439.311" y2="360.548"/>
          <line fill="none" stroke="#EF435D" stroke-width="1.5" x1="112.826" y1="765.851" x2="140.217" y2="765.851"/>
          <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="444.761" y1="769.764" x2="472.151" y2="769.764"/>
        </g>

      </svg>
    </div>
    <figcaption class="big-caption">Fig 3. How it all works</figcaption>

    <div
      class="diagram compare"
      data-bottom-top=""
      data-20p-center-center="">
      <svg
        class="full contained center-block"
        version="1.1" id="images"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="460px"
        height="372"
        viewBox="0 303 460 372"
        enable-background="new 0 303 460 372"
        xml:space="preserve">
        <circle fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="230" cy="611.917" r="44.652"/>
        <polyline fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="460,305.556 230,594.584 0,305.557 "/>
      </svg>
      <div class="contained-smaller compare-words"
        simple-slider
        data-slider-delay="1500">
        {{#each comparisons}}
        <div simple-slider-slide {{#if @first}}class="active"{{/if}}>
          <div class="top">{{{top}}}</div>
          <div class="bottom">{{{bottom}}}</div>
        </div>
        {{/each}}
      </div>
    </div>

    <figcaption class="big-caption">Fig 3. The new model</figcaption>
  </div>
</div>

<a href="/about/clients-studio/" class="big-bottom-button">Next</a>

{{>foot}}
