{{>head}}
{{>aboutNav}}
<img src="/assets/images/about/we-are.jpg" alt="We are the guys behind the guy, as well as the guy himself." class="full" />

<div class="contained">
  <div class="chapter-header" id="the-complete-thought">
    <div class="chapter-number">II.</div>
    <h2 class="chapter-name">The Complete Thought</h2>
  </div>
  <div class="chapter-copy display-serif contained center-block">
    <p>
      Just as in life, when something looks amazing, moves right, feels right, and we can clearly see that it is true, that’s when we connect. It resonates. It takes a complete thought. Anything missing and we’re gone.
    </p>
    <p>
      Our work is crafted with extraordinary sensitivity for medium and audience, and we do it ourselves - the same minds who formulate the strategy and intimately understand the audience, get behind the camera, the design tools, the code, the pen and pencil. Nothing is lost in translation.
    </p>
  </div>
</div>

<div class="mirrored-image-wrapper">
  <img src="/assets/images/about/mirrored-image-2.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(15%)"
    data-top-bottom="transform: translateY(-15%)">
  <img src="/assets/images/about/mirrored-image-1.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(-18%)"
    data-top-bottom="transform: translateY(18%)">
  <img src="/assets/images/about/mirrored-image-3-1.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(10%)"
    data-top-bottom="transform: translateY(-10%)">
  <img src="/assets/images/about/mirrored-image-3-2.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(-13%)"
    data-top-bottom="transform: translateY(13%)">
  <img src="/assets/images/about/medium-fearless.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(5%)"
    data-top-bottom="transform: translateY(-5%)">
  <img src="/assets/images/about/mirrored-image-3-3.png" class="full"
    data-anchor-target=".mirrored-image-wrapper"
    data-bottom-top="transform: translateY(-2%)"
    data-top-bottom="transform: translateY(2%)">
</div>
<div class="mirrored-image-wrapper" id="mirror2">
  <img src="/assets/images/about/mirrored-image-2.png" class="full"
    data-anchor-target="#mirror2"
    data-bottom-top="transform: translateY(15%)"
    data-top-bottom="transform: translateY(-15%)">
  <img src="/assets/images/about/mirrored-image-1.png" class="full"
    data-anchor-target="#mirror2"
    data-bottom-top="transform: translateY(-18%)"
    data-top-bottom="transform: translateY(18%)">
  <img src="/assets/images/about/mirrored-image-3-2.png" class="full"
    data-anchor-target="#mirror2"
    data-bottom-top="transform: translateY(10%)"
    data-top-bottom="transform: translateY(-10%)">
  <img src="/assets/images/about/medium-fearless.png" class="full"
    data-anchor-target="#mirror2"
    data-bottom-top="transform: translateY(5%)"
    data-top-bottom="transform: translateY(-5%)">
  <img src="/assets/images/about/mirrored-image-3-1.png" class="full"
    data-anchor-target="#mirror2"
    data-bottom-top="transform: translateY(-2%)"
    data-top-bottom="transform: translateY(2%)">
</div>

<div class="mirrored-image-wrapper" id="mirror4">
  <img src="/assets/images/about/mirrored-image-2.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(15%)"
    data-top-bottom="transform: translateY(-15%)">
  <img src="/assets/images/about/mirrored-image-1.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-18%)"
    data-top-bottom="transform: translateY(18%)">
  <img src="/assets/images/about/mirrored-image-3-3.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-13%)"
    data-top-bottom="transform: translateY(13%)">
  <img src="/assets/images/about/medium-fearless.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(5%)"
    data-top-bottom="transform: translateY(-5%)">
  <img src="/assets/images/about/mirrored-image-3-1.png" class="full"
    data-anchor-target="#mirror4"
    data-bottom-top="transform: translateY(-2%)"
    data-top-bottom="transform: translateY(2%)">
</div>

<div class="mirrored-image-wrapper" id="mirror3">
  <img src="/assets/images/about/mirrored-image-2.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(7%)"
    data-top-bottom="transform: translateY(-7%)">
  <img src="/assets/images/about/mirrored-image-1.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(-9%)"
    data-top-bottom="transform: translateY(9%)">
  <img src="/assets/images/about/mirrored-image-3-2.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(5%)"
    data-top-bottom="transform: translateY(-5%)">
  <img src="/assets/images/about/mirrored-image-3-3.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(-6%)"
    data-top-bottom="transform: translateY(6%)">
  <img src="/assets/images/about/medium-fearless.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(3%)"
    data-top-bottom="transform: translateY(-3%)">
  <img src="/assets/images/about/mirrored-image-3-1.png" class="full"
    data-anchor-target="#mirror3"
    data-bottom-top="transform: translateY(-2%)"
    data-top-bottom="transform: translateY(2%)">
</div>

<div class="contained">
  <div class="chapter-copy display-serif contained center-block">
    We shoot, edit and produce videos and photographic campaigns, with our creative director behind the camera. We code and design interactive digital experiences, build brands from platform to launch to re-launch. &ldquo;Digital,&rdquo; in our office, is &ldquo;traditional&rdquo;. We strategize and we make, whatever the medium. It’s who we are.
  </div>
  <div class="expertise">
    <svg class="border"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px"
      width="998px"
      height="{{math (math expertise.length "+" "3.25") "*" "8"}}2px"
      viewBox="0 0 998 {{math (math expertise.length "+" "3.25") "*" "8"}}2"
      enable-background="new 0 0 998 {{math (math expertise.length "+" "3.25") "*" "8"}}2"
      xml:space="preserve"
      data-20p-center-top="stroke-dashoffset:1800;"
      data--10p-bottom-bottom="stroke-dashoffset:0;"
      data-target-anchor=".expertise">
      <polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="499,2 2,2 2,{{math (math expertise.length "+" "3.25") "*" "8"}}0 499,{{math (math expertise.length "+" "3.25") "*" "8"}}0 "/>
      <polyline fill="none" stroke="#000000" stroke-width="4" stroke-miterlimit="10" points="499,2 996,2 996,{{math (math expertise.length "+" "3.25") "*" "8"}}0 499,{{math (math expertise.length "+" "3.25") "*" "8"}}0 "/>
    </svg>
    <header class="expertise-header">
      Expertise
    </header>
    <ul class="expertise-list">
      {{#each expertise}}
      <li slide-up class="expertise-item">
        {{this}}
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<img src="/assets/images/about/we-are.jpg" alt="We are the guys behind the guy, as well as the guy himself." class="full" />

<div class="contained">
  <div class="chapter-copy display-serif contained center-block">
    <blockquote>
      I have never met another agency that was so incredibly spot-on
      with the caliber of strategic and creative work, in as many different
      mediums. From long form videos to websites. It’s truly a head scratcher.
    </blockquote>
    <cite>
      Phil Borthwick <em>European Marketing Director, Cat Footwear,
      formerly Global Marketing Director at Dr. Martens.</em>
    </cite>
  </div>
</div>

<img src="/assets/images/about/we-are.jpg" alt="We are the guys behind the guy, as well as the guy himself." class="full" />



<div class="contained center-align">
  <header class="big-serif-header">The Comaplete Thought</header>
  <div
  class="diagram"
  data-bottom-top=""
  data-20p-center-center="">
    <svg
      class="full contained center-block t-v-w-diagram"
      version="1.1" id="images"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="460px"
      height="689.436px"
      viewBox="0 0 460 689.436"
      enable-background="new 0 0 460 689.436"
      xml:space="preserve">
    <circle class="animate-svg" fill="none" stroke="#000000" stroke-width="4.1573" stroke-miterlimit="10" cx="230" cy="588.213" r="24.857"/>
    <polyline class="animate-svg" fill="none" stroke="#000000" stroke-width="4.1573" stroke-miterlimit="10" points="358.037,417.667 230,578.564
      101.962,417.668 "/>
    <text class="slide-up" x="230" y="244" text-anchor="middle">Wonder</text>
    <text class="slide-up small-text" x="230" y="510" text-anchor="middle">Vision</text>
    <text class="slide-up small-text" x="230" y="593" text-anchor="middle">Truth</text>

    <text class="slide-up small-text" x="405" y="534" text-anchor="middle" fill="#00ABDF">
      &nbsp;Internal:
      <tspan x="405" y="550">Marketing</tspan>
    </text>

    <text class="slide-up small-text" x="390" y="214" text-anchor="middle" fill="#00ABDF">
      &nbsp;External:
      <tspan x="390" y="230">Brand</tspan>
      <tspan x="390" y="246">Experience</tspan>
    </text>

    <circle class="animate-svg"  fill="none" stroke="#000000" stroke-width="4.1573" stroke-miterlimit="10" cx="230" cy="232.886" r="224.215"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="228.866" cy="530.614" r="98.071"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="229.622" cy="232.88" r="100.905"/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="126.749,225.086 120.839,230.997
      114.931,225.086 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="186.393,336.453 186.393,344.809
      178.035,344.809 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="194.078,404.691 202.436,404.691
      202.435,413.047 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="274.953,333.03 283.311,333.03
      283.311,341.387 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="114.931,534.41 120.84,528.5
      126.749,534.41 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="342.716,527.367 336.806,533.275
      330.897,527.367 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="228.376,643.244 222.466,637.334
      228.376,631.424 "/>
    <polyline class="animate-svg-short" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" points="228.376,130.806 222.466,124.897
      228.376,118.987 "/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="309.057" cy="140.323" r="48.98"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="89.874" cy="225.156" r="59"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="210.726" cy="131.976" r="72"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="126.749" cy="163.706" r="31.983"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="355.44" cy="358.035" r="29"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" cx="309.057" cy="80.177" r="19"/>
    <circle class="spinning" fill="none" stroke="#00ABDF" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4" cx="130.795" cy="321.224" r="14"/>
    <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" d="M336.723,533.275 c0.054-1.404,0.081-2.815,0.081-4.233c0-23.572-7.553-45.381-20.372-63.137c-13.729-19.019-52.854-56.5-76.719-76.276"/>
    <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" d="M336.805,232.879 c0,23.573-7.553,45.382-20.372,63.138c-13.729,19.019-46.964,51.72-70.829,71.498l-36.481,31.271 c-32.183,29.239-44.726,36.984-68.181,67.495c-13.256,17.241-20.103,39.354-20.103,62.762c0,59.638,48.346,107.983,107.983,107.983 c54.036,0,98.802-39.692,106.735-91.511"/>
    <path class="spinning" fill="none" stroke="#EF435D" stroke-width="2.2676" stroke-miterlimit="10" stroke-dasharray="4.5353" d="M218.374,374.487 c-30.477-29.376-53.977-48.335-77.432-78.845c-13.256-17.243-20.103-39.355-20.103-62.763c0-59.638,48.346-107.982,107.983-107.982 c54.905,0,100.24,40.977,107.087,94.017"/>

    <text class="slide-up small-text"
      x="75" y="540"
      text-anchor="end"
      fill="#EF435D">
        The Complete Thought
    </text>

    <g data-anchor-target=".t-v-w-diagram"
      data-20p-center-center="opacity: 0"
      data-center-center="opacity: 1">
      <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="383.468" y1="256.183" x2="367.039" y2="317.885"/>
      <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="362.071" y1="174.218" x2="373.357" y2="196.689"/>
      <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="356.458" y1="225.155" x2="336.805" y2="225.155"/>
      <line fill="none" stroke="#EF435D" stroke-width="1.5" x1="86.5" y1="535.887" x2="107.5" y2="535.887"/>
      <line fill="none" stroke="#00ABDF" stroke-width="1.5" x1="340.983" y1="538.887" x2="361.983" y2="538.887"/>
    </g>

    </svg>
  </div>
  <figcaption class="big-caption">Fig 3. How it all works</figcaption>

  <div
    class="diagram"
    data-bottom-top=""
    data-20p-center-center="">
    <svg
      class="full contained center-block t-v-w-diagram"
      version="1.1" id="images"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="474px"
      height="372"
      viewBox="-2 303 474 372"
      enable-background="new -2 303 474 372"
      xml:space="preserve">
      <circle fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" cx="230" cy="611.917" r="44.652"/>
      <polyline fill="none" stroke="#000000" stroke-width="6" stroke-miterlimit="10" points="460,305.556 230,594.584 0,305.557 "/>
    </svg>
  </div>

  <figcaption class="big-caption">Fig 3. The new model</figcaption>
</div>

<a href="/about/clients-studio/" class="big-bottom-button">Next</a>

{{>foot}}
