.slide-left,
.slide-right{
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	visibility: visible !important;
}

.slide-left{
	transform: translateX(-150%);
	animation-name: slideLeft;
}

.slide-right-force
	transform: translateX(0%);


.slide-right
	transform: translateX(0%);
	animation-name: slideRight;

.slide-left-force
	transform: translateX(-150%);


@keyframes slideLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-150%);
	}
}


@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

.slide-up{
  animation-name: slideUp;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(1em);
    opacity 0
  }
  100% {
    transform: translateY(0%);
    opacity 1
  }
}
