.slide-left,
.slide-right{
	animation-duration: 1s;
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;	
}

.slide-left{
	transform: translateX(-150%);
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;
}

.slide-left-trans
	transform: translateX(0%);


.slide-right
	transform: translateX(0%);
	animation-name: slideRight;
	-webkit-animation-name: slideRight;
	
.slide-right-trans
	transform: translateX(-150%);


@keyframes slideLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-150%);
	}
}

@-webkit-keyframes slideLeft {
	0% {
		-webkit-transform: translateX(0%);
	}
	100% {
		-webkit-transform: translateX(-150%);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	100% {
		transform: translateX(0%);
	}
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	100% {
		-webkit-transform: translateX(0%);
	}
}
