$black ?= #000
$white ?= #fff

$blue ?= #e8f7ff
$yellow ?= #fffaec
$pink ?= #ffe8e8

.blue-bg
  background $blue

  .reveal
    @extend .blue-bg

  .darker-bg
    background darken(desaturate($blue, 10%), 4%)

  .lighter-bg
    background saturate(lightness($blue, 98%), 4%)

.yellow-bg
  background $yellow

  .reveal
    @extend .yellow-bg

  .darker-bg
    background darken(saturation($yellow, 50%), 4%)

  .lighter-bg
    background saturate(lightness($yellow, 98%), 4%)

.pink-bg
  background $pink

  .reveal
    @extend .pink-bg

  .darker-bg
    background darken(desaturate($pink, 10%), 4%)

  .lighter-bg
    background saturate(lightness($pink, 98%), 4%)
