.sop-footer
  display: table
  vertical-align middle
  width 100%
  background $black
  padding ($hr-gutter / 2)px 0

.footer-links
  padding 0 0 0 ($hr-gutter)px

.footer-link
  display: table-cell
  vertical-align middle
  padding-right ($hr-gutter)px
  fill $white

.sop-footer .footer-sop-logo
  font-size 46px
  color $white

.pw-logo
  height 69px
  width auto

.chris-logo
  height 44px
  width auto

.signup
  margin-top 18px
  padding 0 ($hr-gutter)px 0 0
  text-align right

  .email,
  .button
    appearance none
    background $black
    height 30px
    border none
    outline none
    color $white
    font-specs(14, 16, 150)
    line-height 2.5em
    transition: all ease 0.5s

  .email
    height 20px
    min-width 260px
    padding 7px 2px 3px 2px
    border-bottom solid 3px $white
    border-top solid 3px $black
    text-align: left

    &:focus
      outline none
      background #222
      border-top-color #222

  .button
    height 36px
    float right

    &:hover
      background $white
      color $black
