font-specs(size, leading, tracking = 0)
  if size == 0
  	font-size 0
  else
  	font-size (size / base-font-size)em
  if size == 0 && leading==0
  	line-height 0
  else
  	line-height (leading/size)em
  unless tracking == 0
  	letter-spacing (tracking * 0.015 / base-font-size)em
