font-specs(size, leading = null, tracking = 0)
  font-size (size / $base-font-size)em
  if size == 0 && leading == 0
    line-height 0
  unless leading == null
    if leading == auto || leading == 1.2em || leading == 120%
      line-height 1.2em
    else
      line-height (leading / size)em
  unless tracking == 0
    letter-spacing (tracking / 1000)em

vert-center()
  position absolute

  top 50%

  transform: translateY(-50%)

absolute-center()
  position absolute

  top 50%
  left 50%

  transform: translate(-50%, -50%)

full-link()
  position absolute
  z-index  2

  left 0
  top  0

  width  100%
  height 100%

  cursor pointer
  
  backface-visibility(hidden)

cta-front()
  position relative
  z-index 5
  cursor pointer
  backface-visibility(hidden)

.full-link
  full-link()