.news-article
  padding-top ($vert-gutter / 2)px
  padding-bottom ($vert-gutter / 2)px
  vertical-align top
  float left

.featured
  padding 0

.featured + .featured
  padding (avg($hr-gutter $big-gutter))px 0 0

.news-image
  width 100%
  height auto
  margin-bottom ($hr-gutter * 0.8)px

.news-date
  margin-bottom ($hr-gutter / 2)px

.featured .news-image
  padding-bottom avg($hr-gutter $big-gutter)px

.featured .news-snippet
  padding-bottom ($hr-gutter)px
