body
	width 100%
	margin 0
	padding 0
	font-family sop-serif

.full
	width 100%

.contained
	width 100%
	max-width content-width px
	margin 0 auto

.left
	float left
	width 50%
	padding-right (small-gutter/2) px

.right
	float right
	width 50%
	padding-left (small-gutter/2) px
