.inspire-wonder
    background url("/assets/images/home-slides/slide1.jpg")
    background-size cover
    background-position center

    .contained
      max-width none
      width 100%
      padding-left 0
      padding-right 0

    .fit-text
      font-specs(90, 135, 200)

.we-are
  .contained
    margin 0
    width 50%
    overflow visible
    white-space: nowrap

    .display-serif
      font-specs(90, 120)

.truth-and-vision .fit-text
  font-specs(30, 35)

.someoddpilot-is p
  font-specs(30, 40)
  margin-bottom (hr-gutter / 2 / base-font-size)em
