.inspire-wonder
    background url("/assets/images/home-slides/slide1.jpg")
    background-size cover
    background-position center

.we-are

  .contained
    margin 0
    width 50%
    overflow visible
    white-space: nowrap

    .display-serif
      font-specs(90, 120)

.truth-and-vision

  .fit-text
    font-specs(30, 35)

  .vert-center
    padding 15%
    display: inline-block

  .sans
    font-specs(20, 35, 200)

  .display-serif
    font-specs(100, 110)

.someoddpilot-is p
  font-specs(30, 40)
  margin-bottom ($hr-gutter / 2 / $base-font-size)em
