.center-align
  text-align: center

.left-align
  text-align: left

.white-text
  color #fff

.black-text
  color #000

.sans
  font-family: sop-sans
  text-transform: uppercase
  font-specs(20, 30, 200)

.display-serif
  font-family: sop-display-serif

.serif
  font-family: sop-serif

.main-nav
  font-family: sop-sans
  font-specs(14, 14, 200)

.nav-link
  text-decoration none
  text-transform: uppercase

.page-title
  display: none

.page-subheader,
.news-title,
.project-section-header,
.project-section-subheader
  font-family: sop-sans
  text-transform: uppercase

.page-subheader
  text-align: center
  font-specs(20, 30, 200)

.project-block
  font-family: sop-display-serif
  color #000

.block-header,
.block-subheader
  text-decoration none !important
  color #000

.block-header
  font-specs(49, 66, 50)

.block-subheader
  font-specs(30, 40, 50)

.block-link
  font-specs(18, 18, 200)
  text-transform: uppercase
  color #000
  cursor pointer

.project-section-header
  font-specs(70, 90, 150)
  text-align: center

.project-section-subheader
  font-specs(28, 50, 150)
  text-align: center

.news-title
  color #000
  font-specs(22, 30, 100)
  text-decoration none
  cursor pointer

.news-snippet,
.news-date
  font-specs(20, 30)

.news-date
  font-style: italic

.drop-cap:first-letter
  float: left
  font-size: 4em
  line-height: .5em
  padding-right 0.02em

