.main-nav
	font-family: sop-sans
	font-specs(14, 14, 200)

.nav-link
	text-decoration none
	text-transform: uppercase

.page-title
	display: none
	
.page-subheader,
.news-title
	font-family: sop-sans
	text-transform: uppercase

.page-subheader
	font-specs(20, 30, 200)

.project-preview
	font-family: sop-display-serif
	color #000

.preview-header,
.preview-subheader
	text-decoration none !important
	color #000

.preview-header
	font-specs(49, 66, 50)

.preview-subheader
	font-specs(30, 40, 50)

.preview-link
	font-specs(18, 18, 200)
	text-transform: uppercase
	color #000

.news-title
	font-specs(22, 30, 100)

.page-subheader
	text-align: center

.news-snippet,
.news-date
	font-specs(20, 30)

.news-date
	font-style: italic