$base-font-size ?= 16

$content-width ?= 1400

$big-gutter ?= 120
$vert-gutter ?= 98
$hr-gutter ?= 60
$small-gutter ?= 38

$sop-display-serif ?= "Larish Alte Semibold", "Georgia", serif
$sop-serif ?= "Sentinel SSm A", "Georgia", serif
$sop-sans ?= "ITC Avant Garde Gothic", "Helvetica Black", "Arial Black", sans-serif;
