.top-header
  text-align: center
  z-index 999

.home .top-header,
.header-no-push
  position absolute
  overflow visible

.header-logo
  display: inline-block
  margin 9vh 0 12vh
  padding 10px
  color: $black
  font-size: 91px

@media screen and (max-height: (700px))
  .header-logo
    font-size 13vh

@media screen and (max-height: (400px))
  .header-logo
    font-size (52 / $base-font-size)em

.nav-icon
  display inline-block
  position absolute
  left 11px
  top 9px
  padding 21px 25px
  z-index 99

  &:hover .menu-line
    margin 4px 0 5px

.menu-line
  display: block
  width 23px
  height 4px
  margin 4px 0
  background $black
  transition background ease 1s, margin ease 0.1s

  .nav-open &
    background $white

.nav-holder
  display: inline-block
  position absolute
  height 0
  top 0
  left 0
  background $black
  padding 0 66px 0 56px
  overflow hidden
  text-align: left
  transition height ease 1s, padding ease 1s
  z-index 5

  .nav-open &
    height 248px
    padding-top 80px
    padding-bottom 72px

.nav-close-icon
  position absolute
  top 10px
  right 0
  padding 25px;
  color $black
  transition color ease 1s

  .nav-open &
    color $white

.nav-link
  display: block
  padding 12px 4px
  color $black
  transition color ease 1s

  .nav-open &
    color $white

.social-nav
  margin-top 26px

.nav-link-social
  float left
  font-specs(0,0)

.social-icon
  display: block
  width 32px
  height 32px
  padding 4px
  color $black
  font-size: 32px;
  transition color ease 1s

  .nav-open &
    color darken($white, 52%)
    transition color ease 0.25s

.nav-link-social:hover .social-icon
  color $white

.page-subheader
  margin (avg($hr-gutter $big-gutter) / 2)px 0

.slider
  position: relative
  overflow hidden

.slides
  position: relative
  width 100%
  margin: 0
  padding: 0
  background $yellow
  list-style: none
  overflow hidden

  .slider-activated &
    padding-left 100%

.slide
  position: relative
  display: block
  width 100%

  .slider-activated &
    float left
    overflow hidden

  .contained
    padding 32vh 10% 12vh
    height (100 - 32 - 12)vh
    width 80%
    position relative
    overflow hidden

    .left,
    .right
      height 100%

.pager,
.prev,
.next
  position absolute

.prev,
.next
  padding 10px
  font-size: 59px

.pager
  top 45%
  width 100%

.prev
  left 2%

.next
  right 2%

.counter
  bottom ($hr-gutter)px
  font-family: "Georgia", Georgia, serif
  font-specs(18, 18)
  font-weight: bold
  text-align: right
  overflow visible

.work-block
  display: block
  padding 0 0 ($big-gutter)px
  clear both
  overflow auto
  text-align: center

.block-image
  display: block
  width 100%
  height auto

.block-image + .block-image
  margin-top ($hr-gutter)px

.block-link
  display: inline-block
  margin-top ($hr-gutter / 2)px

.work-section-header
  margin-top ($big-gutter - $hr-gutter)px

.work-section-subheader
  margin ($hr-gutter / 2)px auto

.work-section-body
  width 80%
  margin 0 10%

.video-wrapper
  position relative

.video-play
  position absolute
  width 100px
  height 100px
  top 50%
  left 50%
  appearance none
  font-family 'sop-fontello'
  font-size 40px
  border-radius 60px
  background $black
  color $white
  border 9px solid $white
  box-shadow 0 0 20px alpha($black, 75%)
  transform translate(-50%,-50%)

  &:before
    content: '\e800'

  .play &
    display: none

  .contained &,
  .contained-smaller &
    width 57px
    height 57px
    font-size 20px
    border-width 5px
    box-shadow 0 0 10px alpha($black, 75%)

.fill-video
  width 100%
  height auto
  position absolute
  left 50%
  top 50%
  transform: translate(-50%, -50%)
  @media (max-aspect-ratio: 16/9)
    width: auto;
    height: 100%;

.work-section,
.work-section-subheader,
.work-section-body,
.work-section-image,
.work-section-video
  margin-bottom ($hr-gutter)px

.news-article
  padding-top ($vert-gutter / 2)px
  padding-bottom ($vert-gutter / 2)px
  vertical-align top
  float left

.featured
  padding 0

.featured + .featured
  padding (avg($hr-gutter $big-gutter))px 0 0

.news-image
  width 100%
  height auto
  margin-bottom ($hr-gutter * 0.8)px

.news-date
  margin-bottom ($hr-gutter / 2)px

.featured .news-image
  padding-bottom avg($hr-gutter $big-gutter)px

.featured .news-snippet
  padding-bottom ($hr-gutter)px

.toc
  margin-top ($hr-gutter / $base-font-size)em

.toc-list
  display: inline-block
  margin (14 / $base-font-size)em auto ($hr-gutter / $base-font-size)em
  padding (38 / 20)em 0
  border 2px solid $black
  border-left none
  border-right none
  list-style-type upper-roman
  list-style-position: inside
  white-space: no-wrap

.toc-item
  padding (14 / 20)em 0

.toc-link
  color $black
  text-decoration none

.chapter-header
  text-align: center
  padding ($hr-gutter / $base-font-size)em 0

.chapter-number
  margin-bottom (5 / $base-font-size)em

.chapter-copy
  max-width 750px
  margin 0 auto (($hr-gutter / 32) - 1)em

.diagram
  margin ($hr-gutter / $base-font-size / 2)em auto

.space-illustration
  position relative
  height 0
  padding-bottom (828 / 1600 *100)%
  overflow hidden

  .space,
  .illustration
    position absolute
    top 0
    left 0

.mirrored-image-wrapper
  margin ($hr-gutter / $base-font-size * 2)em 0 0
  padding ($hr-gutter / $base-font-size * 3)em 0 ($hr-gutter / $base-font-size * 2)em
  background url("/assets/images/about/mirrored-image.jpg") center
  background-size cover

.about-section
  .slider
    margin ($hr-gutter / $base-font-size)em 0

.about-truth-slide

  .display-serif
    position absolute
    top 50%
    left 0
    width 80%
    padding 0 10% 10%
    transform: translateY(-50%)

    header
      font-specs(223, 285)

    p
      font-specs(34, 46)

      &:last-child
        font-specs(43, 58)

.sop-footer
  display: table
  vertical-align middle
  width 100%
  background $black
  padding ($hr-gutter / 2)px 0

.footer-links
  padding 0 0 0 ($hr-gutter)px

.footer-link
  display: table-cell
  vertical-align middle
  padding-right ($hr-gutter)px
  fill $white

.sop-footer .footer-sop-logo
  font-size 46px
  color $white

.pw-logo
  height 69px
  width auto

.chris-logo
  height 44px
  width auto

.signup
  margin-top 18px
  padding 0 ($hr-gutter)px 0 0
  text-align right

  .email,
  .button
    appearance none
    background $black
    height 30px
    border none
    outline none
    color $white
    font-specs(14, 16, 150)
    line-height 2.5em
    transition: all ease 0.5s

  .email
    height 20px
    width 250px
    padding 7px 2px 3px 2px
    border-bottom solid 3px $white
    border-top solid 3px $black
    text-align: left

    &:focus
      outline none
      background #222
      border-top-color #222

  .button
    height 36px
    float right

    &:hover
      background $white
      color $black
