.top-header
  text-align: center
  z-index 999

.home .top-header,
.header-no-push
  position absolute
  overflow visible

.logo
  display: inline-block
  margin 9vh 0 12vh

.sop-logo
  width 280px
  height auto
  padding 10px

@media screen and (max-height: (700px))
  .sop-logo
    width auto
    height 12vh
    min-height 80px
    padding 10px

.nav-icon
  display inline-block
  position absolute
  left 11px
  top 9px
  padding 21px 25px
  z-index 99

  &:hover .menu-line:first-child
    transform: translateY(-1px)

  &:hover .menu-line:last-child
    transform: translateY(1px)

.menu-line
  display: block
  width 23px
  height 4px
  margin 4px 0
  background #000
  transition background ease 1s, transform ease 0.1s

  .nav-open &
    background #fff

.nav-holder
  display: inline-block
  position absolute
  height 0
  top 0
  left 0
  background #000
  padding 0 66px 0 56px
  overflow hidden
  text-align: left
  transition height ease 1s, padding ease 1s
  z-index 5

  .nav-open &
    height 248px
    padding-top 80px
    padding-bottom 72px

.nav-close-icon
  position absolute
  top 10px
  right 0
  padding 25px;

.close-line
  stroke-width 2px
  stroke #000
  transition stroke ease 1s

  .nav-open &
    stroke #fff

.nav-link
  display: block
  padding 12px 4px
  color #000
  transition color ease 1s

  .nav-open &
    color #fff

.social-nav
  margin-top 26px

.nav-link-social
  float left
  font-specs(0,0)

.social-icon
  width 32px
  height 32px
  padding 4px
  fill #000
  transition fill ease 0.25s

  .nav-open &
    fill #787878

.nav-link-social:hover .social-icon
  fill #fff

.page-subheader
  margin (avg(hr-gutter big-gutter) / 2)px 0

.slider
  position: relative

.slides
  position: relative
  width 100%
  margin: 0
  padding: 0
  background #faf7ee
  list-style: none
  overflow hidden

.slide
  position: absolute
  display: block
  width 100%
  overflow hidden

  .contained
    padding 32vh 10% 12vh
    height (100 - 32 - 12)vh
    width 80%
    position relative
    overflow hidden

    .left,
    .right
      height 100%

.pager,
.prev,
.next
  position absolute

.prev,
.next
  padding 10px
  cursor: pointer

.pager
  top 50%
  width 100%

.prev
  left 2%

.next
  right 2%

.counter
  bottom (hr-gutter)px
  font-family: "Georgia", Georgia, serif
  font-specs(18, 18)
  font-weight: bold
  text-align: right
  overflow visible

.project-block
  display: block
  padding 0 0 (big-gutter)px
  clear both
  overflow auto
  text-align: center

.block-image
  display: block
  width 100%
  height auto
  visibility: hidden;

.block-image + .block-image
  margin-top (hr-gutter)px

.block-link
  display: inline-block
  margin-top (hr-gutter / 2)px

.project-section-header
  margin-top (big-gutter)px

.project-section-subheader
  padding (hr-gutter / 2)px 0

.project-section-body
  width 80%
  margin 0 10%

.news-article
  width (((content-width - vert-gutter - vert-gutter) / content-width) * 33.33333)%
  padding (vert-gutter / 2)px 0
  vertical-align top
  float left

.news-article:nth-child(3n+3)
  padding-left (((vert-gutter / 2) / content-width) * 100)%

.news-article:nth-child(3n+1)
  padding-right (((vert-gutter / 2) / content-width) * 100)%

.news-article:nth-child(3n+2)
  padding (vert-gutter / 2 )px (((vert-gutter / 2) / content-width) * 100)%

.featured
  padding 0

.featured + .featured
  padding (avg(hr-gutter big-gutter))px 0 0

.news-image
  width 100%
  height auto
  margin-bottom (hr-gutter * 0.8)px

.news-date
  margin-bottom (hr-gutter/2)px

.featured .news-image
  padding-bottom avg(hr-gutter big-gutter)px

.featured .news-snippet
  padding-bottom (hr-gutter)px

.sop-footer
  display: table
  vertical-align middle
  width 100%
  background #000
  padding (hr-gutter/2)px 0

.footer-links
  padding 0 0 0 (hr-gutter)px

.footer-link
  display: table-cell
  vertical-align middle
  padding-right (hr-gutter)px
  fill #fff

.sop-footer .sop-logo
  height 46px
  width auto

.pw-logo
  height 69px
  width auto

.chris-logo
  height 44px
  width auto

.signup
  margin-top 18px
  padding 0 (hr-gutter)px 0 0
  text-align right

  .email,
  .button
    appearance none
    background #000
    height 30px
    border none
    outline none
    color #fff
    font-specs(14, 16, 150)
    line-height 2.5em
    transition: all ease 0.5s

  .email
    height 30px
    width 250px
    padding 0 2px
    border-bottom solid 3px #fff
    border-top solid 3px #000
    text-align: left

    &:focus
      outline none
      background #222
      border-top-color #222

  .button
    height 36px
    float right

    &:hover
      background #fff
      color #000
