.work-block
  display: block
  padding 0 0 ($big-gutter)px
  clear both
  overflow auto
  text-align: center

.block-image
  display: block
  width 100%
  height auto

.block-image
  & + .block-image,
  & + .block-copy-container
    margin-top ($hr-gutter)px

.block-link
  display: inline-block
  margin-top ($hr-gutter / 2)px
  cta-front()

.work-section-header
  margin-top ($big-gutter - $hr-gutter)px

.work-section-subheader
  margin ($hr-gutter / 2)px auto

.work-section-body
  width 80%
  margin 0 10%

.video-wrapper
  position relative

.video-play
  position absolute
  width 100px
  height 100px
  top 50%
  left 50%
  appearance none
  font-family 'sop-fontello'
  font-size 40px
  border-radius 60px
  background $black
  color $white
  border 9px solid $white
  box-shadow 0 0 20px alpha($black, 75%)
  transform translate(-50%,-50%)

  &:before
    content: '\e800'

  .play &
    display: none

  .contained &,
  .contained-smaller &
    width 57px
    height 57px
    font-size 20px
    border-width 5px
    box-shadow 0 0 10px alpha($black, 75%)

.fill-video
  width 100%
  height auto
  position absolute
  left 50%
  top 50%
  transform: translate(-50%, -50%)
  @media (max-aspect-ratio: 16/9)
    width: auto;
    height: 100%;

.work-section,
.work-section-subheader,
.work-section-body,
.work-section-image,
.work-section-video
  margin-bottom ($hr-gutter)px
