.cat-project-section-section-1
  background url("/assets/images/home-slides/slide1.jpg")
  background-size cover
  background-position center

  .contained
    max-width none
    width 100%
    padding-left 0
    padding-right 0

  .fit-text
    font-specs(90, 135, 200)
