{{>head}}
{{>aboutNav}}
<div class="contained-smaller">
  <div class="center-block chapter-copy">
    <p class="drop-cap">
      Someoddpilot is a branding agency and design
      studio. We inspire wonder by telling your
      story with truth and larger than life vision.
    </p>

    <p>
      Our process guides brands to a place of absolute
      cultural value with an extraordinary sensitivity
      to market nuance by offering a Complete Thought:
      our team has the unique ability to realize and
      evolve concepts from strategy all the way through
      execution. Nothing is lost in translation.
    </p>
  </div>
</div>
<div class="toc activate-nav center-align">
  <header class="toc-header">Table of Contents</header>
  <ul class="toc-list left-align">
    <a href="#truth-vision-wonder" class="toc-link" du-smooth-scroll duration="1500" offset="74">
      <li class="toc-item">
        Truth, Vision &amp; Wonder
      </li>
    </a>
    <a href="the-complete-thought/" class="toc-link">
      <li class="toc-item">
        The Complete Thought
      </li>
    </a>
    <a href="clients-studio/" class="toc-link">
      <li class="toc-item">
        Clients &amp; Studio
      </li>
    </a>
  </ul>
</div>
<div player class="video-wrapper" location="work/cat/cat-flag" alt="Someoddpilot Reel"></div>

<div class="contained">
  <div class="chapter-header" id="truth-vision-wonder">
    <div class="chapter-number">I.</div>
    <h2 class="chapter-name">Truth, Vision &amp; Wonder</h2>
  </div>
  <div class="chapter-copy display-serif contained center-block">
    <p>We are driven by wonder.</p>

    <p>We work tirelessly to bring that to the world. Something
    genuine and bold, real and fantastical. Because that’s
    what moves people. And always has.</p>

    <p>Inspiring wonder forges a deep bond &mdash; you leave
    someone better off than they were before you came along
    &mdash; the essence of any relationship. You’ve taught
    them something, given them something, and affected the
    way they see themselves and the world.</p>
  </div>
</div>

<div class="contained">
  <div class="full slider">
    <ul class="slides">
      <li class="slide about-truth-slide yellow-bg">
        <img src="/assets/images/about/slide-1.jpg" alt="" class="full" />
        <div class="white-text display-serif center-align">
          <div class="scale-text">
            <header>Truth</header>
            <p>Life is authentic.</p>
            <p>Posturing is death.</p>
            <p>Truth resonates loudest.</p>
          </div>
        </div>
        <figcaption class="grey-caption">iPhone5<br />Sansoro, Costa Rica</figcaption>
      </li>
      <li class="slide about-truth-slide yellow-bg">
        <img src="/assets/images/about/slide-2.jpg" alt="" class="full" />
        <div class="display-serif center-align">
          <div class="scale-text">
            <header>Vision</header>
            <p>Life is authentic.</p>
            <p>Posturing is death.</p>
            <p>Truth resonates loudest.</p>
          </div>
        </div>
        <figcaption class="grey-caption">iPhone5<br />Sansoro, Costa Rica</figcaption>
      </li>
    </ul>
  </div>
</div>

<div
  class="diagram"
  data-bottom-top=""
  data-20p-top-top="">
  <svg
    class="full contained-smaller center-block t-v-w-diagram"
    version="1.1" id="images"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    width="650px"
    height="810px"
    viewBox="0 0 600 747.574"
    enable-background="new 0 0 600 747.574"
    xml:space="preserve">
    <circle fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" cx="300" cy="280.367" r="269.928"
      data-center-top="stroke-dashoffset: 1700;stroke-dasharray: 1700;"
      data-top-top="stroke-dashoffset: 0;stroke-dasharray: 1700;"
      data-anchor-target=".t-v-w-diagram" />
    <polyline fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" points="454.142,502.822 300,696.523 145.857,502.823"
      data-90-top-top="stroke-dashoffset: 510;stroke-dasharray: 510;"
      data-top-top="stroke-dashoffset: 0;stroke-dasharray: 510;"
      data-anchor-target=".t-v-w-diagram" />
    <circle fill="none" stroke="#000000" stroke-width="5" stroke-miterlimit="10" cx="300" cy="708.14" r="29.925"
      data-90-top-top="stroke-dashoffset: 230;stroke-dasharray: 230;"
      data-top-top="stroke-dashoffset: 0;stroke-dasharray: 230;"
      data-anchor-target=".t-v-w-diagram" />

    <text class="slide-up" x="300" y="260" text-anchor="middle">Wonder</text>
    <text class="slide-up small-text" x="300" y="603" text-anchor="middle">Vision</text>
    <text class="slide-up small-text" x="300" y="703" text-anchor="middle">Truth</text>

  </svg>
</div>

<div class="chapter-copy display-serif contained center-block">
  <p>
    Truth is absolutely necessary for every relationship in our lives.
    Without it there’s simply no place to start. We treat &ldquo;the people&rdquo;
    as people, and start with the truth they deserve.
  </p>

  <p>
    Vision drives every one of us. Some place to go to, something bigger
    than ourselves. Bold, fantastical, grounded in truth but reaching far
    beyond reason, to a place where we see our best selves.
  </p>
</div>

<figcaption class="grey-caption">Canon 5d Mark II<br />Telluride, Colorado</figcaption>
<img src="/assets/images/about/discover.jpg" alt="There is still so much left to discover" class="full" />

<div class="full space-illustration">
  <img src="/assets/images/about/space.jpg"
    alt=""
    class="full space"
    data-anchor-target=".space-illustration"
    data-bottom-top="transform: translateY(0%)"
    data-top-bottom="transform: translateY(-10%)" />
  <img src="/assets/images/about/illustration.png"
    alt=""
    class="full illustration"
    data-anchor-target=".space-illustration"
    data-bottom-top="transform: translateY(-10%)"
    data-top-bottom="transform: translateY(10%)" />
</div>
<figcaption class="grey-caption">Canon 5d Mark II<br />Telluride, Colorado</figcaption>
<a href="/about/the-complete-thought/" class="big-bottom-button">Next</a>
{{>foot}}
