<nav class="center-align persistant-about-nav {{#if color}}{{color}}{{else}}yellow{{/if}}-bg"
  data-anchor-target=".activate-nav"
  data-bottom-top=""
  data-top-top="">
  <ul class="toc-list left-align">
    <a href="/about/" class="toc-link">
      <li class="toc-item">
        Truth, Vision &amp; Wonder
      </li>
    </a>
    <a href="/about/the-complete-thought" class="toc-link">
      <li class="toc-item">
        The Complete Thought
      </li>
    </a>
    <a href="/about/clients-studio" class="toc-link">
      <li class="toc-item">
        Clients &amp; Studio
      </li>
    </a>
  </ul>
</nav>
