<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7765932/798266/css/fonts.css" />
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/a5f4aaff-6b26-4655-a20d-d42cb949ab09.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="{{ template }} {{#compare template "contains" "news"}}yellow-bg{{else}}{{#if color}}{{color}}{{else}}yellow{{/if}}-bg{{/compare}}">

  <header class="full top-header{{#compare template "contains" "work-detail"}} header-no-push{{/compare}}"  ng-controller="headerController" ng-class="class">
    <a href="#" class="nav-icon" ng-click="toggleClass()">
      <div class="menu-icon">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
    </a>
    <a class="header-logo icon-sop-logo" href="/"></a>
    <nav class="nav-holder">
      <a href="#" class="nav-close-icon icon-close-x" ng-click="toggleClass()">
      </a>
      <ul class="main-nav">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/work/">Work</a>
        </li>
        <li>
          <a class="nav-link" href="/news/">News</a>
        </li>
        <li>
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li>
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
      <ul class="social-nav">
        <li class="nav-link-social">
          <a class="social-icon icon-facebook" href="http://www.facebook.com/someoddpilot"></a>
        </li>
        <li class="nav-link-social">
          <a class="social-icon icon-twitter" href="http://www.twitter.com/someoddpilot"></a>
        </li>
        <li class="nav-link-social">
          <a class="social-icon icon-vimeo" href="http://www.vimeo.com/someoddpilot">
          </a>
        </li>
        <li class="nav-link-social">
          <a class="social-icon icon-instagram" href="http://www.instagram.com/someoddpilot"></a>
        </li>
      </ul>
    </nav>
  </header>
  <h1 class="page-title">{{title}}</h1>
