<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7765932/798266/css/fonts.css" />
  <script type="text/javascript" src="http://fast.fonts.net/jsapi/a5f4aaff-6b26-4655-a20d-d42cb949ab09.js"></script>
  <link href="http://webfonts.radimpesko.com/RP-W-54db7050934c2b0607000002.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="{{ template }} {{#compare template "contains" "news"}}yellow-bg{{else}}{{#if color}}{{color}}{{else}}yellow{{/if}}-bg{{/compare}}">

  <header class="full top-header{{#compare template "contains" "work-detail"}} header-no-push{{/compare}}{{#if headerNoPush }} header-no-push{{/if}}" ng-controller="headerController" ng-class="class">
    <a class="header-logo icon-sop-logo" href="/"></a>
    {{>mainNav}}
  </header>
  <h1 class="page-title">{{title}}</h1>

  <div id="skrollr-body">
