<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

  <header class="full top-header">
    <a href="#" class="nav-icon">
      <svg class="menu-icon" height="20" width="23">
        <rect y="0" class="menu-line" width="23" height="4" />
        <rect y="8" class="menu-line" width="23" height="4" />
        <rect y="16" class="menu-line" width="23" height="4" />
      </svg>
    </a>
    <a class="logo" href="/">
      <img class="sop-logo" src="images/someoddpilot.svg" alt="someoddpilot logo" />
    </a>
    <nav class="nav-holder">
      <a href="#" class="nav-close-icon">
        <svg class="close-icon" height="12" width="12">
          <line class="close-line" x1="0" y1="0" x2="12" y2="12" class="x-line"/>
          <line class="close-line" x1="12" y1="0" x2="0" y2="12" class="x-line"/>
        </svg>
      </a>
      <ul class="main-nav">
        <li>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/work/">Work</a>
        </li>
        <li>
          <a class="nav-link" href="/news/">News</a>
        </li>
        <li>
          <a class="nav-link" href="/about/">About</a>
        </li>
        <li>
          <a class="nav-link" href="/contact/">Contact</a>
        </li>
      </ul>
      <ul class="social-nav">
        <li class="nav-link-social">
          <a class="" href="/">facebook</a>
        </li>
        <li class="nav-link-social">
          <a class="" href="/work/">twitter</a>
        </li>
        <li class="nav-link-social">
          <a class="" href="/news/">vimeo</a>
        </li>
        <li class="nav-link-social">
          <a class="" href="/about/">instagram</a>
        </li>
      </ul>
    </nav>
  </header>
  <h1 class="page-title">{{title}}</h1>
