<li {{#everyOther @index 2}}class="even"{{/everyOther}}>
	<div class="contained project-preview preview-{{@index}}{{#equal attributes.layout1 1-1up }} vert-center{{/equal}}">
    <a href="/work/{{ slug }}">
    	{{#equal attributes.layout1 1-1up }}
    	<div class="left">
    	{{/equal}}
      <img class="preview-image bottom-gutter" src="{{ attributes.images.image1.src }}" alt="{{ attributes.images.image1.alt }}" />
      {{#equal attributes.layout1 1-1up }}
    	</div>
    	<div class="right">
    	{{/equal}}
      <h3 class="preview-header" >{{ attributes.title }}</h3>
      <p class="preview-subheader" >{{ attributes.subheader }}</p>
      <a class="preview-link" href="#">{{ attributes.linkText }}</a>
      {{#equal attributes.layout1 1-1up }}
    	</div>
    	{{/equal}}
    </a>
  </div>
</li>