<section class="contained work-block block-{{@index}}">

  {{#compare attributes.preview.layout "!==" "1up"~}}

    <div class="half">
      {{~#compare attributes.preview.textLeftorRight "===" "left"}}
        {{#compare attributes.preview.layout "===" "3up"}}
          {{> workBlockFeatureImage}}
        {{/compare}}
        {{> workBlockText}}
      {{else}}
        {{#compare attributes.preview.layout "===" "3up"}}
          {{> workBlockDoubleImage}}
        {{else}}
          {{> workBlockFeatureImage}}
        {{/compare}}
      {{~/compare~}}
    </div>

    <div class="half">
      {{~#compare attributes.preview.textLeftorRight "===" "right"~}}
        {{#compare attributes.preview.layout "===" "3up"}}
          {{> workBlockFeatureImage}}
        {{/compare}}
        {{> workBlockText}}
      {{else}}
        {{#compare attributes.preview.layout "===" "3up"}}
          {{> workBlockDoubleImage}}
        {{else}}
          {{> workBlockFeatureImage}}
        {{/compare}}
      {{/compare~}}
    </div>

  {{~else}}

    {{> workBlockFeatureImage}}
    {{> workBlockText}}

  {{/compare}}

</section>
