<section class="full work-section slider {{ class }}">
  <ul class="full-height slides">
  {{#each slides}}
  {{#if header}}
    <li class="full-height slide {{#if color}}{{color}}{{else}}yellow{{/if}}-bg slide-{{@index}}">
      {{#if loopingVideo.mp4}}
      <video class="header-no-push fill-video" viewport-video="" loop="loop" autoplay="autoplay" poster="{{image}}">
        <source src="/assets/video/work/{{loopingVideo.webm}}" type="video/webm">
        <source src="/assets/video/work/{{loopingVideo.ogg}}" type="video/ogg">
        <source src="/assets/video/work/{{loopingVideo.mp4}}" type="video/mp4">
      </video>
      {{/if}}
      <div class="contained sans mega-slide-text center-align">
        <h2>{{{header}}}</h2>
      </div>
      {{#compare image "!==" headerColor}}
      <style>
        .slide-{{@index}} {
        {{#if image}}
          background-image: url("/assets/images/work/{{image}}");
          background-position: center;
          background-size: cover;
        {{/if}}
        {{#if headerColor}}
          color: #{{headerColor}};
        {{/if}}
        }
      </style>
      {{/compare}}
    </li>
  {{/if}}
  {{/each}}
  </ul>
</section>
