<section class="contained work-block block-{{@index}}{{#compare attributes.previewLayout "!==" "1up"}} vert-center-halves{{/compare}}">
  {{#compare attributes.previewLayout "!==" "1up" }}
    {{#compare attributes.previewLayout "===" "3up" }}
      <div class="{{#compare attributes.textLeftorRight "===" "left"}}left{{else}}right{{/compare}}">
      {{else}}
      <div class="{{#compare attributes.textLeftorRight "===" "left"}}right{{else}}left{{/compare}}">
    {{/compare}}
  {{/compare}}
      <a href="/work/{{slug}}/" class="image-hover">
        <img class="block-image animate bottom-gutter" src="{{ attributes.previewImages.image1.src }}" alt="{{ attributes.previewImages.image1.alt }}" />
      </a>
  {{#compare attributes.previewLayout "===" "2up" }}
    </div>
    <div class="{{#compare attributes.textLeftorRight "===" "right"}}right{{else}}left{{/compare}}">
  {{/compare}}
      <h3 class="block-header">{{ attributes.title }}</h3>
      <p class="block-subheader">{{ attributes.subheader }}</p>
      <a class="block-link" href="/work/{{slug}}/">{{#if attributes.linkText}}{{attributes.linkText}}{{else}}More{{/if}}</a>
  {{#compare attributes.previewLayout "===" "2up" }}
    </div>
  {{/compare}}
  {{#compare attributes.previewLayout "!==" "1up" }}
    </div>
  {{/compare}}
  {{#compare attributes.previewLayout "===" "3up" }}
  <div class="{{#compare attributes.textLeftorRight "===" "right"}}left{{else}}right{{/compare}}">
    <a href="/work/{{slug}}/" class="image-hover">
      <img class="block-image animate" src="{{ attributes.previewImages.image2.src }}" alt="{{ attributes.previewImages.image2.alt }}" />
      <img class="block-image animate" src="{{ attributes.previewImages.image3.src }}" alt="{{ attributes.previewImages.image3.alt }}" />
    </a>
  </div>
  {{/compare}}
</section>
