<section class="contained work-block block-{{@index}}">
  {{~#each attributes.preview.sections~}}
    <div class="{{#compare size "===" "half"}}half{{/compare}}">
      {{#compare template "===" "title"}}
        {{> workBlockTitle ../../this}}
      {{/compare}}
      {{#compare template "===" "image"}}
        {{> workBlockImage this}}
        {{#if includeTitle}}
          {{> workBlockTitle ../../../this}}
        {{/if}}
      {{/compare}}
    </div>
  {{~/each}}

  <a href="/work/{{slug}}/" class="image-hover full-link">
  </a>

</section>
