  </div>

  <script src="/js/client.js" async></script>

  <footer class="sop-footer">

    <div class="half left">
      <ul class="footer-links">
        <li class="footer-link">
          <a href="/" class="footer-sop-logo icon-sop-logo" alt="someoddpilot"><span class="sr">Someoddpilot</span></a>
        </li>
        <li class="footer-link">
          <a href="http://publicworksgallery.com" alt="Public Works">
            <img class="pw-logo" src="/assets/images/public_works_logo.svg" alt="Public Works X someoddpilot logo" />
          </a>
        </li>
        <li class="footer-link">
          <a href="http://www.chriseichenseer.com/" alt="Chris Eichenseer Photography">
            <img class="chris-logo" src="/assets/images/chris_eichenseer_photography_logo.svg" alt="Chris Eichenseer Photography logo" />
          </a>
      </ul>
    </div>

    <div class="half right">
      <div class="signup">
        <!-- Begin MailChimp Signup Form -->
        <form action="http://someoddpilot.us1.list-manage.com/subscribe/post?u=b9f224a574a7e7c5faafe2216&amp;id=e61164de8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <input type="email" value="" name="EMAIL" class="email sans" id="mce-EMAIL" onfocus="this.placeholder = ''" placeholder="Email Updates" onblur="this.placeholder = 'Email Updates'" required />
          <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button sans" />
        </form>
      </div>
    </div>

  </footer>

</body>
</html>
