{{#each items~}}
  {{#compare type "!==" "text"}}
    <div class="{{#if ../../width}}{{../../../width}}{{else}}full{{/if}} center-align">
      {{#compare type "===" "image"}}
      <img src="/assets/images/work/{{path}}"
        alt="{{alt}}"
        class="full work-section-image {{#if width}}{{width}}{{else}}full{{/if}}"
        {{#if animate}}slide-up{{/if}} />
      {{/compare}}
      {{#compare type "===" "video"}}
      <div player class="video-wrapper work-section-video {{#if width}}{{width}}{{else}}contained{{/if}}"
        location="work/{{path}}"
        alt="{{alt}}"
        {{#if animate}}slide-up{{/if}}>
      </div>
      {{/compare}}
    </div>
  {{/compare}}
  {{#compare type "===" "text"}}
    <div class="contained-smaller">
      <p class="work-section-body">
        {{text}}
      </p>
    </div>
  {{/compare}}
{{~/each}}
