<video playervideo class="full {{class}}" poster="{{player.getImageUrl(location, 'jpg')}}" width="1600" height="900">
  <source src="{{player.getVideoUrl(location, 'webm')}}" type="video/webm">
  <source src="{{player.getVideoUrl(location, 'ogv')}}" type="video/ogg">
  <source src="{{player.getVideoUrl(location, 'mp4')}}" type="video/mp4">
  <img ng-src="{{player.getImageUrl(location, 'jpg')}}" alt="{{alt}}" class="no-margin full" />
</video>
<button ng-show="!isPlaying" class="video-play"><span class="sr">Play Video</span></button>
