{{>head}}
  <div class="full slider home-slider">
    <ul class="full-height slides">
    {{#each collections.homeSlides}}
      <li class="full-height slide {{#if attributes.color}}{{attributes.color}}{{else}}yellow{{/if}}-bg {{slug}}">
        {{#if attributes.link}}<a href="{{attributes.link}}">{{/if}}
        {{{body}}}
        {{#if attributes.link}}</a>{{/if}}
      </li>
    {{/each}}
    </ul>
  </div>

  <section class="contained recent-work">
    <h2 class="page-subheader">Recent Work</h2>
    {{#eachLimited collections.work 4}}
      {{>workBlock}}
    {{/eachLimited}}
  </section>
{{>foot}}
