{{>head}}
  <ul>
  {{#each collections.work}}
		{{>projectView}}
  {{/each}}
  </ul>
{{>foot}}


<article class="project-preview preview-one-two vertCenter">
      <a href="/work/{{ slug }}">
        <div class="left">
          <img class="preview-image bottom-gutter" src="/assets/images/projects/project1-1.png" />
          <h3 class="preview-header" >Sound Opinions</h3>
          <p class="preview-subheader" >Re-branding</p>
          <a class="preview-link" href="#">{{ linkText }}</a>
        </div>
        <div class="right">
          <img class="preview-image bottom-gutter" src="/assets/images/projects/project1-2.jpg" />
          <img class="preview-image" src="/assets/images/projects/project1-2.jpg" />
        </div>
      </a>
    </article>